extends layout
block content
  script(src='/js/index.js')
  h1= title

  if member.id
    h3 Welcome #{member.name}
    form(method='GET' action='/members/logout')
      input#userNameSubmit(type='submit', value='Log Out')
    form(method='GET' action='/rooms/create')
      input#roomName(type='text' name='name' placeholder='roomName')
      input#addRoom(type='submit', value='Add Room')
  else
    p Please Enter a User Name:
    form(method='GET' action='/members/create')
      input#userName(type='text', name='name' placeholder='username')
      input#userNameSubmit(type='submit', value='Submit')
      br
  table#roomTable
    thead
      tr
        th(data-field='name') Name
        th(data-field='members.length') Count
        th(data-field='action') Action
  div#roomChat
    h4 Room Chat:
      span#chatRoomName #{member.currentRoom}
    div#messages(style='max-height:300px')
    input(type='text')#messageEntryBox
    button#sendMessage(onclick='sendMessage()') Send




